body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: aqua;
}
h1{
text-align: center;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
font-weight: 500px;
letter-spacing: 5px;
}

.navbar{
list-style: none;
background-color: blueviolet;
margin: 0;
padding: 0;
width: auto;
height: 50px;
}
.img{
   margin-top: 30px;
}
.navbar ol{
text-align: center;
padding: 5px 20px;
}
.navbar img{
    width: 50px;
    float: left;
    padding: 5px;
}
.navbar ol li{
list-style: none;
display: inline-block;
padding: 10px 30px;
color: wheat;

}
.navbar ol li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.form{
    width: 300px;
    height: 200px;
    border: 1px solid black;
   margin: auto;
   margin-top: 30px;
   box-shadow: 1px 1px 1px 1px rgb(28, 27, 27,0.7);
   background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__480.jpg);
   background-repeat: no-repeat;
   background-position:center;
   background-size: auto;
}
.form{
    padding: 8px;
    text-align: center;
    color:blue;
    transition: all ease-out 0.3s;
    border-radius: 5%;
}
.form:hover{
    translate:-10px -10px;
}
.email
{
    padding: 5px;
}
.pass{
    padding-right:22px;
}
.button input{
    box-sizing: border-box;
    text-align: center;
margin: 3px;
    
}
.bt1 input{
    border-radius: 5px;
    border: none;
}
.bt2 input{
    border-radius: 5px;
    border: none;
}
.reg p button{
    border-radius: 5px;
    border: none;
}
.bt1 input:hover{
  
   background-color: blue;
   color: white;
}
.bt2 input:hover{
   
    background-color: blue;
    color: white;
}
.reg p{
    margin-top: 25px;
}
.reg a{
    text-decoration: none;
}
.reg  p button:hover{
  
    background-color: blue;
   
    
}
.reg  p button a:hover{
    color: white;
}
.container{
    height:100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px auto 250px;
    gap: 3px;

}
.main{
    background-color: brown;
    grid-column: 1/3;
    color: aqua;
}
.main h4{
    text-align: center;
   
}
.main p{
    text-align: justify;
    margin: 20px;
}
.side{
    background-color: black;
    color: aqua;
    grid-column: 3/3;
}
.side h4{
    text-align: center;
}
.side p{
    text-align: center;
    margin-top: 20px;
}
.album{
    display: grid;
    grid-column: auto;
}
.subcon{
    float: right;
    position: relative;
    bottom: 30px;
    right: 30px;
}
.pic1{
    height: 100px;
    width: 150px;
   
border-radius: 30%;

}
.footer{
    position: relative;
    background-color: blanchedalmond;
    grid-column: 1/-1;
    width: auto;
    height: 100px;
    top: 250px;
}
.footer p {
    position: relative;
    text-align: center;
    top: 25px;
}